.web-fields-wrapper input {
  text-align: center;
  margin: auto;
  margin: 0.25rem;
}

.web-fields-wrapper h2 {
  text-align: center;
}

/* Row */
.web-fields-wrapper > div {
  flex-flow: column nowrap;
  justify-content: flex-start;
}

input[name="key"] {
  width: 10rem;
}

input[name="id"] {
  width: 6rem;
}

input[name="tripTime"],
input[name="tripRate"],
input[name="curVal"] {
  width: 4rem;
}