.card {
  color: rgb(228, 215, 215);
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 209, 0, 0.6);
  border-radius: 15px;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem;
  width: 290px;
  height: 550px;
  text-align: center;
}