.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 30px;
}

.component_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.header_logo {
  width: 250px;
  height: calc(0.073 * 250)px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}